
<!-- Sidebar -->
<!--<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">ZaraiiPay</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action bg-light" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
      <a [routerLink]='["/"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-home'></span> Home
      </a>
    </li>
    <li class="list-group-item list-group-item-action bg-light" [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/orders"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-user'></span> Orders
      </a>
    </li>
    <li class="list-group-item list-group-item-action bg-light" [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/fetch-users"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-th-list'></span> Customers
      </a>
    </li>
    <li [routerLinkActive]="['link-active']">
      <a (click)="auth.login()" *ngIf="!auth.isAuthenticated()">
        <span class='glyphicon glyphicon-user'></span> Login
      </a>
      <a (click)="auth.logout()" *ngIf="auth.isAuthenticated()">
        <span class='glyphicon glyphicon-user'></span> Logout
      </a>
    </li>
  </ul>
</div>-->


<!--Side Bar -->
<aside class="sidebar-left border-right">
  <label style="color: #7c8085; padding-left: 10px; text-align: center;font-size: 24px">ZaraiiPay</label>
  <div class="sidebar-links bg-light border-right">
    <div class="sidebar-heading"></div>
    <ul class="list-group list-group-flush">
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="" [routerLink]='["/"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-home'></span> Home
        </a>
      </li>
      <!--<li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <a class="" [routerLink]='["/orders"]' (click)='collapse()'>
      <span class='glyphicon glyphicon-user'></span> Orders
    </a>
  </li>
  <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <a class="" [routerLink]='["/fetch-users"]' (click)='collapse()'>
      <span class='glyphicon glyphicon-th-list'></span> Customers
    </a>
  </li>-->
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="" [routerLink]='["/customer"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Customers
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="" [routerLink]='["/charges"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Transactions
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="" [routerLink]='["/dashboard"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Dashboard
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="" style="cursor:pointer" (click)="auth.login()" *ngIf="!auth.isAuthenticated()">
          <span class='glyphicon glyphicon-user'></span> Login
        </a>
        <a class="" style="cursor:pointer" (click)="auth.logout()" *ngIf="auth.isAuthenticated()">
          <span class='glyphicon glyphicon-user'></span> Logout
        </a>
      </li>
    </ul>
  </div>
</aside>

