<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="forecasts">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Description</th>
      <th>Price</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.Sku }}</td>
      <td>{{ product.Desc }}</td>
      <td>{{ product.Price }}</td>
      <td>{{ product.Type }}</td>
    </tr>
  </tbody>
</table>
