<!--Order Section-->
<div class="row orders-row">
  <div class="col-12">
    <div class="card card-default">
      <div class="card-header">
        <h4 class="card-title text-center">
          Order Details
        </h4>
      </div>
      <div class="card-body">
        <div>
          <div class="form-group">
            <label for="cardNumber">
              Order Details
            </label>
            <div class="input-group">
              <div class="col-6">
                <span class="hide-small">Sub Total</span>
                <div class="col-12">
                  <span class="req-fld">*</span>
                  <input type="number" maxlength="50" class="form-control" placeholder="Total ($)"
                         (change)="calculateTotal($event)" [(ngModel)]="subTotal" #subTotalA="ngModel" required pattern="^[1-9]\d*$"/>
                </div>
                <div *ngIf="subTotalA.invalid && subTotalA.touched">
                  <label class="error-msg">Amount is required.</label>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 tax-left">
                <span class="hide-small">State Tax (%)</span>
                <input class="form-control" placeholder="state"  maxlength="50"
                       required (change)="calculateTotal($event)" type="number" [(ngModel)]="tax1" maxlength="150"/>
              </div>
              <div class="col-md-3 col-sm-12 tax-right">
                <span class="hide-small">Mun Tax (%)</span>
                <input class="form-control" placeholder="city"  maxlength="50"
                       required (change)="calculateTotal($event)" type="number" [(ngModel)]="tax2" maxlength="150"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="cardNumber">
              Contact Information
            </label>
            <div class="input-group">
              <div class="col-6">
                <input class="form-control" placeholder="Email"
                       required type="email" [(ngModel)]="uEmail" maxlength="150" />
              </div>
              <div class="col-6">
                <input class="form-control" placeholder="Phone"
                       required type="number" [(ngModel)]="uPhone" maxlength="50" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row-reverse">
      <div class="p-2">
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <a href="#"><label class="badge pull-right" style="font-size: 24px"><span class="glyphicon glyphicon-usd">$</span>{{total}}</label> Order Total </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--Payment Section-->
<div class="row" style="margin:20px 0 0 0">
  <div class="col-12">
    <div class="card card-default">
      <div class="card-header">
        <h4 class="card-title text-center">
          Payment Details
        </h4>
        <a class="pull-right" (click)="emptyCarFields()" href="#">Clear Card Fields</a>
      </div>
      <div class="card-body">
        <div>
          <div class="form-group">
            <label for="cardNumber">
              CARD NUMBER
            </label>
            <div class="input-group">
              <div class="col-12">
                <span class="req-fld">*</span>
                <input (change)="fillCardData($event)" type="number" class="form-control" id="cardNumber" placeholder="Valid Card Number / Scan Card Here"
                       required [(ngModel)]="cNumber" #cNumberA="ngModel" maxlength="25" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              </div>
            </div>
            <div *ngIf="cNumberA.invalid && cNumberA.touched">
              <label class="error-msg">Card Number is required.</label>
            </div>
          </div>
          <div class="form-group">
            <label for="cardNumber">
              CARD HOLDER'S NAME
            </label>
            <div class="input-group">
              <div class="col-12">
                <span class="req-fld">*</span>
                <input type="text" class="form-control" id="cardOwnerFirstN" placeholder="Card Holder's Full Name"
                       required [(ngModel)]="uFirst" #holdersName="ngModel" maxlength="50" />
              </div>
              <div *ngIf="holdersName.invalid && holdersName.touched">
                <label class="error-msg">Card Holder's name is required.</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-7 col-md-7">
              <div class="form-group">
                <label for="expityMonth">
                  EXPIRY DATE
                </label>
                <div class="col-xs-6 col-lg-6 pl-ziro">
                  <span class="req-fld">*</span>
                  <input class="form-control" id="expityMonth" placeholder="MM" required type="number" maxlength="2" [(ngModel)]="expMonth" #expMonthA="ngModel" />
                </div>
                <div class="col-xs-6 col-lg-6 pl-ziro">
                  <span class="req-fld">*</span>
                  <input class="form-control" id="expityYear" placeholder="YY" required type="number" maxlength="2" [(ngModel)]="expYear" #expYearA="ngModel" />
                </div>
                <div *ngIf="expMonthA.invalid && expMonthA.touched">
                  <label class="error-msg">Expiration Date is required.</label>
                </div>
              </div>
            </div>
            <div class="col-xs-5 col-md-5 pull-right">
              <div class="form-group">
                <label for="cvCode">
                  CV CODE
                </label>
                <div class="col-12">
                  <span class="req-fld">*</span>
                  <input type="password" class="form-control" id="cvCode" maxlength="3" placeholder="CV" required type="number" [(ngModel)]="cardCVV" #cardCode="ngModel" />
                </div>
                <div *ngIf="cardCode.invalid && cardCode.touched">
                  <label class="error-msg">Card Number is required.</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row-reverse">
      <div class="p-2">
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>{{total}}</span> Payment Total</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="pull-right">
      <input readonly="readonly" [(ngModel)]="sMessage" style="color: #06d85f; background-color: transparent; text-align: center; width: 100%; font-size: 18px; border: none;" />
    </div>
    <button class="btn btn-success btn-lg btn-block" [disabled]="subTotalA.invalid || cNumberA.invalid || holdersName.invalid || cardCode.invalid || expMonthA.invalid" (click)="payOrder(total,cNumber,expYear,expMonth,cardCVV,uPhone,uFirst,uLast,uEmail);">{{payStatus}}</button>
    <div *ngIf="subTotalA.invalid || cNumberA.invalid || holdersName.invalid || cardCode.invalid || expMonthA.invalid">
      <label class="error-msg">Fill all required fields to complete the payment.</label>
    </div>
    <br />
  </div>
</div>
