<div class='container-fluid'>
  <div class='row' *ngIf="auth.isAuthenticated()">
    <div class='col-sm-2'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row" *ngIf="!auth.isAuthenticated()">
    <div class="wrapper">
    <div class="container">
      <h1 class="login-h1">Welcome</h1>
      <div class="login-form">
        <button (click)="auth.login()">Login</button>
      </div>
    </div>
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
    <!-- Landing page section
    <div class="col-12">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">ZaraiiPay</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" (click)="auth.login()" href="#">Business Login</a>
            </li>
          </ul>
          </div>
      </div>
    </nav>


    <header>

      <div id="intro" class="view col-12">


        <div id="intro" class="view">

          <div class="mask rgba-black-strong">

            <div class="container-fluid d-flex align-items-center justify-content-center h-100">

              <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10" style="padding-top:90px">


                  <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">ZaraiiPay</h2>

                  <hr class="hr-light">


                  <h4 class="white-text my-4" style="color:white">The easy to use payment app. </h4>
                  <button type="button" (click)="auth.login()" class="btn btn-outline-white" style="border: white 1px solid; color: white;">Start Now<i class="fa fa-book ml-2"></i></button>

                </div>

              </div>

            </div>

          </div>

        </div>


      </div>

    </header>

    <main class="mt-5">
    <div class="container">


    <section id="best-features">

      <section id="best-features" class="text-center">


        <h2 class="mb-5">Best Features</h2>


        <div class="row d-flex justify-content-center mb-4">


          <div class="col-md-8">


            <p>
              Enter your customer's billing information and the total amount of the order. It's so simple!
            </p>

          </div>


        </div>

        <div class="row">


          <div class="col-md-4 mb-1">
            <i class="fa fa-camera-retro fa-3x blue-text"></i>
            <h4 class="my-4">Secure</h4>
            <p>
              Improve your customer experience by providing a secure way of processing credit card payments.
            </p>
          </div>

          <div class="col-md-4 mb-1">
            <i class="fa fa-heart fa-3x blue-text"></i>
            <h4 class="my-4">Simple</h4>
            <p>
              Simply manage your orders and customers with just a few clicks.
            </p>
          </div>

          <div class="col-md-4 mb-1">
            <i class="fa fa-bicycle fa-3x blue-text"></i>
            <h4 class="my-4">Fast</h4>
            <p>
              Receive payments from customers and see dashboards statistic instantly.
            </p>
          </div>


        </div>


      </section>



    </section>


    </div>
    </main>

    </div>
  -->
  </div>
</div>
