<div class="">
  <br />
  <div class="col-md-8">
    <!--<app-manage-schedule (scheduleCreated)="createOrUpdateSchedule($event)" (schedulePaid)="paySchedule($event)" (accountConnected)="connectToStripe($event)" [getScheduleId]="scheduleId" [paymentStatusMessage]="paymentStatus"></app-manage-schedule>-->
    <div class="row">
      <app-payment (paidOrder)="payingOrder($event)" (clearCardFields)="emptyCarField($event)"></app-payment>
    </div>

    <div class="alerts-div">
        <div class="text-center">
          <div *ngIf="ProcessingPayment" class="alert alert-warning btn-block">
            <strong>Warning!</strong> Processing payment, please wait...
          </div>
          <div *ngIf="paymentSucceed" class="alert alert-success btn-block">
            <strong>Success!</strong> Payment completed.
          </div>
          <div *ngIf="paymentError" class="alert alert-danger btn-block">
            <strong>Error!</strong> {{sMessage}}
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-12" *ngIf="paymentSucceed">
        <div class="invoice">
          <div class="row expanded">
            <main class="columns">
              <button class="btn btn-lg btn-block secondary-btn-c" printTitle="Receipt" [useExistingCss]="true" printSectionId="printable-invoice" ngxPrint>print receipt</button>
              <div class="col-12">
                <section class="row" id="printable-invoice">
                  <table>
                    <tr>
                      <td colspan="3" class="text-center">
                        <h2> Receipt</h2>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="text-center">
                        <p>{{order.description}}</p>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>

                        <p>
                          Hello, {{order.billing_details.name}}
                        </p>
                      </td>
                      <td></td>
                      <td>
                        <p>Order #{{order.id }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>
                          Thank you for your order.
                        </p>
                      </td>
                      <td></td>
                      <td class="text-right">
                        <p>{{order.created * 1000 | date:'MM-dd-yyyy' }}</p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="text-center additional-info ">
                        <h5>Billing Information</h5>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td class="text-right">
                        <p class="num">Total: ${{order.amount / 100}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td class="text-right">
                        <p>
                          Card Type:
                          {{order.payment_method_details.card.brand}}- {{order.payment_method_details.card.funding}}<br>
                          &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; {{order.payment_method_details.card.last4}}
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="text-center">
                        <h5 class="signature-header signature-section">Signature</h5>
                      </td>
                    </tr>
                  </table>

                </section>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
    <!--<br class="hide-small"/>
  <article class="well hide-small">
    <h5 class="text-center">
      ZaraiiPay Service<br />
      <span>The easy to use payment app. </span>
    </h5>
    <input readonly="readonly" [(ngModel)]="sMessage" style="color: #06d85f; background-color: transparent; text-align: center; width: 100%; font-size: 23px; border: none;" />
    <hr>
    <div class="text-center">
      <p> Enter your customer's billing information and the total amount of the order. It's so simple!</p>
    </div>
  </article>
  <br class="hide-small" />
  <hr class="hide-small">-->
  </div>
</div>
