<div id="intro" class="view">

  <div class="mask rgba-black-strong">

    <div class="container-fluid d-flex align-items-center justify-content-center h-100">

      <div class="row d-flex justify-content-center text-center">

        <div class="col-md-10">

          <!-- Heading -->
          <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Adventure</h2>

          <!-- Divider -->
          <hr class="hr-light">

          <!-- Description -->
          <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur.</h4>
          <button type="button" class="btn btn-outline-white">Read more<i class="fa fa-book ml-2"></i></button>

        </div>

      </div>

    </div>

  </div>

</div>
<footer class="container">
  <div class="row">
    <div class="col-sm pb-4">
      <a href="#">
        <img class="img-fluid mx-auto d-block mt-4 mb-2 rounded-circle" src="https://images.unsplash.com/photo-1427097829427-56a905bf7004?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=ed5baaa96c051e370f059f1d2eb3c227" alt="">
      </a>
      <h3 class="text-center mb-2">Type 1</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <button class="btn btn-success">Book Now @ $599></button>
    </div>
    <div class="col-sm pb-4">
      <a href="#">
        <img class="img-fluid mx-auto d-block mt-4 mb-2 rounded-circle" src="https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=ca9f0a95d0cff8019f8edd8228ef0279" alt="">
      </a>
      <h3 class="text-center mb-2">Type 2</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <button class="btn btn-danger">Book Now @ $899></button>
    </div>
    <div class="col-sm pb-4">
      <a href="#">
        <img class="img-fluid mx-auto d-block mt-4 mb-2 rounded-circle" src="https://images.unsplash.com/photo-1440778303588-435521a205bc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=436ad7567b8c0da884ca42fcdaee4db0" alt="">
      </a>
      <h3 class="text-center mb-2">Type 3</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <button class="btn btn-info">Book Now @ $699</button>
    </div>
  </div>
  <footer class="row pt-4">
    <div class="col-sm">
      <small><p>&copy; 2018</p></small>
    </div>
    <div class="col-sm">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">About Us</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Support 24x7</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <small><p class="text-right">Vacation Rentals</p></small>
    </div>
  </footer>
