body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #322d28;
}

header.top-bar h1 {
  font-family: "Montserrat", sans-serif;
}

main {
  margin-top: 15rem;
  min-height: calc(100vh - 107px);
  margin: auto;
}

  /*main .inner-container {
    max-width: 800px;
    margin: 0 auto;
  }*/

  .num {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .9em;
  }

.additional-info h5 {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #289292;
}
.invoice {
  /*margin-top: -69px;*/
  margin-bottom: 15px;
  /*padding-right: 22px;
  padding-left: 15px;*/
}
.secondary-btn-c {
  background-color: white;
  border: solid #289292 3px;
  color: #289292;
}
.tertiary-btn-c {
  color: #289292;
  border:none;
  background-color:white;
}
#printable-invoice {
  margin-top: 15px;
}
.signature-header {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.signature-section {
  border-bottom: solid 2px black;
  padding-bottom: 60px;
}
.alerts-div {
  margin-bottom: 15px;
  padding-right: 7px;
  color: #663399;
}
.order-row {
  margin: 60px 0 20px 0
}
@media (max-width: 767px) {
  .hide-small {
    display: none;
  }
  main {
    margin-top: 0;
  }
  .tax-left {
    padding-right: 0;
  }
  .tax-right {
    padding-left: 0;
  }
  .alerts-div {
    padding-right: 0;
  }
  input.form-control {
    font-size: 12px;
  }
  a,label {
    font-size: 14px;
  }
  h4 {
    font-size: 20px;
  }
  .orders-row {
    margin: 0 0 20px 0
  }
  .body-content {
    padding-top: 0;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h5 {
    font-size: 18px;
  }
  .chart-card-body .form-group h5 {
    padding: 1.25rem;
  }
  .chart-card-body {
    padding: 0;
  }
}
.error-msg {
  color: #c90000;
}
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

