<br />
<h1>Transactions</h1>

<!--<p *ngIf="!orders"><em>Loading...</em></p>-->

<div *ngIf="!orders">
  <app-loader></app-loader>
</div>
<div *ngIf="orders">
  <p-table #dt [value]="orders" [responsive]="true" [paginator]="true" [rows]="10" [globalFilterFields]="['status','customer.email','billing_details.name','created','amount']">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th width="200px" style="display: none">Id</th>
        <th width="200px">User</th>
        <th width="200px">Customer Email</th>
        <!--<th>Customer Id</th>-->
        <th width="100px">Card</th>
        <th width="70px">Security Status</th>
        <th width="100px;">Amount</th>
        <th width="100px;">Status</th>
        <th width="100px;">Paid</th>
        <th width="100px;">Refunded</th>
        <th width="100px;">Created</th>
        <th width="100px;">Refund?</th>
        <!--<th width="200px;">FailureMessage</th>-->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-order>
      <tr [pSelectableRow]="rowData">
        <td style="display: none">{{ order.id }}</td>
        <td>{{ order.billing_details.name }}</td>
        <td *ngIf="order.customer">{{ order.customer.email }}</td>
        <td *ngIf="!order.customer">no customer</td>
        <!--<td width="200px">{{ order.customer.id }}</td>-->
        <td>{{order.payment_method_details.card.brand}}- {{order.payment_method_details.card.funding}}</td>
        <td>{{order.payment_method_details.card.checks.cvc_check}}</td>
        <td width="50px">${{ order.amount / 100}}</td>
        <td width="50px">{{ order.status}}</td>
        <td width="50px" *ngIf="!order.paid">not paid</td>
        <td width="50px" *ngIf="order.paid">paid</td>
        <td width="100px" *ngIf="!order.refunded">not refunded</td>
        <td width="100px" *ngIf="order.refunded">refunded- ${{ order.amount_refunded / 100  }}</td>
        <!--<td>{{ order.created * 1000 | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>-->
        <td>{{ order.created * 1000 | date:'MM-dd-yyyy' }}</td>
        <!--<td width="100px">{{ order.description }}</td>-->
        <td width="100px" *ngIf="!order.refunded">
          <!--<button class="btn btn-warning" (click)="refundOrder(order.id, order.amount )">Refund</button>-->
          <button class="btn btn-cust-primary" pButton (click)="showConfirm(order.id, order.amount)" label="Confirm">Refund</button>
        </td>
        <td width="100px;" style="text-align:center" *ngIf="order.refunded">
          Refunded!
        </td>
        <!--<td>{{ order.failureMessage }}</td>-->
      </tr>
    </ng-template>
  </p-table>
</div>
  <p-toast position="center" key="custom" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div style="text-align: center; color:white">
        <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
        <h6>{{message.summary}}</h6>
        <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-6">
          <button type="button" pButton (click)="refundingOrder()" label="Yes" class="btn btn-primary">Yes</button>
        </div>
        <div class="ui-g-6">
          <button type="button" pButton (click)="onReject()" label="No" class="btn btn-secondary">No</button>
        </div>
      </div>
    </ng-template>
  </p-toast>
